.buttons-container {
  display: flex;
  justify-content: center;
  border: solid 1px;
  border-radius: 6px;
  padding: 0 10px;
  background: gainsboro;
  width: fit-content;
  margin: auto;
  width: fit-content;
  margin: 20px auto;

  button {
    padding: 10px;
    background-color: inherit;
    border: none;
    padding: 10px 20px;
    min-width: 100px;
    cursor: pointer;

    &.selected {
      color: blue;
      text-decoration: underline;
    }
  }
}
